@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="display:block;">
    <h1 class="display-4">Welcome</h1>
    <p id="homepara">Besides monitoring aircraft, plane spotting enthusiasts (who are usually called plane spotters) also record information regarding airports, 
        air traffic control communications, airline routes, and more.</p>
</div>
